/* common */
/* common 에서 느낀점 
= > 작업 전에큰 틀의 공통적인 사항을 먼저 생각해보자 */
/* 문서를 변경할때 내용만 바꾸면 나머지 css 스타일을 안바꿔도
되게 코딩해보자 */

* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕", sans-serif;
    color: #222328;
}

body {
    width: 1000px;
    font-style: 20px;
}
a {
    text-decoration: none;
    display: block;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* header 영역 */

header {
    background: tomato;
    float: left;
}
header .top {
    float: left;
    background: #eee;
    width: 200px;
    height: 650px;
}
header .top .logo {
    width: 200px;
    height: 40px;
    margin: 30px 0;
}
header .top .logo img {
    /* padding left , 이미지에 margin */
    margin-left: 15px;
}
header .top .menu {
    width: 90%;
    /* text 스타일 속성은 자손들에게 상속됨 */
    text-align: center;
}
header .top .menu li {
    font-size: 16px;
    font-weight: 700;
}
header .top .menu li a {
    color: #fff;
    background: #222328;
    padding: 10px 0;
}
header .top .menu li a:hover {
    background: #930930;
    color: #ff0;
}