/* common */
/* common 에서 느낀점 
= > 작업 전에큰 틀의 공통적인 사항을 먼저 생각해보자 */
/* 문서를 변경할때 내용만 바꾸면 나머지 css 스타일을 안바꿔도
되게 코딩해보자 */

* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕", sans-serif;
    color: #222328;
}

body {
    width: 1000px;
    font-style: 20px;
}
a {
    text-decoration: none;
    display: block;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* header 영역 */

header {
    float: left;
    width: 20%;
}
header .top {
    float: left;
    background: #eee;
    height: 678px;
}
header .top .logo {
    width: 200px;
    height: 40px;
    margin: 30px 0;
}
header .top .logo img {
    /* padding left , 이미지에 margin */
    margin-left: 15px;
}
header .top .menu {
    width: 90%;
    /* text 스타일 속성은 자손들에게 상속됨 */
    text-align: center;
}
header .top .menu li {
    font-size: 16px;
    font-weight: 700;
}
header .top .menu li a {
    color: #fff;
    background: #222328;
    padding: 10px 0;
}
header .top .menu li a:hover {
    background: #930930;
    color: #ff0;
}

/* bodywrap 영역 */
.bodywrap {
    width: 800px;
    float: right;
}

/* bodywrap > imgslide 영역 */
.bodywrap > .imgslide {
    height: 350px;
    position: relative;
}
.bodywrap > .imgslide .imgtext {
    width: 300px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: rgba(40,40,40,0.3);
    font-weight: 700;
    padding: 10px 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bodywrap > .contents {
    height: 200px;
    margin-top: 15px;
}

/* contetns > tapmenu 영역 */
.bodywrap > .contents .tabmenu {
    width: 40%;
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
}
.bodywrap > .contents .tabmenu > li {
    float: left;
    width: 80px;
}

.bodywrap > .contents .tabmenu > li > a {
    font-size: 14px;
    text-align: center;
    background: #ccc;
    border: 1px solid #ddd;
    border-bottom-width: 0;
    padding: 5px 10px;
}
.bodywrap > .contents .tabmenu > li > a:hover {
    opacity: 0.5;
}
.bodywrap > .contents .tabmenu > li.active > a {
    background: #fff;
}
.bodywrap > .contents .tabmenu > li div.notice {
    width: 290px;
    border: 1px solid #ddd;
    font-size: 14px;
    padding: 10px 5px;
}
.bodywrap > .contents .tabmenu > li div.notice ul {

}
.bodywrap > .contents .tabmenu > li div.notice ul li {
    padding: 10px 0;
}
.bodywrap > .contents .tabmenu > li div.notice ul li:hover {
    font-weight: 700;
}
.bodywrap > .contents .tabmenu > li div.notice ul li:nth-child(even) {
    background: #ccc;
}
.bodywrap > .contents .tabmenu > li div.notice ul a span {
    float: right;
}

/* contents > otherwrap 영역  */
.bodywrap .contents .otherwrap {
    width: 60%;
    height: 199px;
    overflow: hidden;
    float: right;
    position: relative;
}
.bodywrap .contents .otherwrap h4 {
    height: 40px;
    color: #fff;
    line-height: 40px;
    background: rgba(40,40,40, 0.3);
    font-weight: 700;
    text-align: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bodywrap .contents .otherwrap .banner {
    float: left;
    width: 60%;
    height: 199px;
    position: relative;
}
.bodywrap .contents .otherwrap .banner .bntext {
    width: 200px;
}
.bodywrap .contents .otherwrap .shortcut {
    float: right;
    width: 38.5%;
    margin-left: 1.5%;
    position: relative;
}
.bodywrap .contents .otherwrap .shortcut .sctext {

}
.bodywrap .contents .otherwrap .shortcut img {
    height: 199px;
}
.bodywrap .contents .otherwrap div img {
    width: 100%;
}
/* footer 영역 */
footer {
    width: 80%;
    height: 100px;
    float: right;
    margin-top: 10px;
    background: #ccc;
}
footer .btlogo {
    float: left;
    width: 200px;
    height: 100px;
}
footer .btlogo img {
    margin-top: 33px;
    margin-left: 15px;
}
footer .site {
    float: right;
    font-size: 14px;
    margin-right: 100px;
}
footer .site .btmenu{
    margin-top: 15px;
    padding-left: 40px;
}
footer .site .copy {
    margin-top: 30px;
}
footer .site .btmenu ul li {
    float: left;
    margin-right: 40px;
}